@use '../../styles/borders' as *;
@use '../../styles/colors' as *;

.form {
    display: flex;

    &.is_loading {
        .spinner {
            display: block;
        }

        input[type="submit"] {
            color: $light-grey;
        }
    }

    input:not([type="submit"]) {
        -webkit-appearance: none !important;
        color: $black !important;
        border: 1px solid $light-grey !important;
        border-radius: $br-sm !important;
        padding: 0.4em 0.5em !important;
        max-width: 100% !important;
        background: $white !important;
        outline: none !important;
        font-size: 1.0625rem !important;
        line-height: 1.6 !important;
        width: 100% !important;
        margin: 0 !important;
        overflow: visible !important;
        text-transform: none !important;
        box-shadow: none !important;

        &::placeholder {
            color: $grey;
        }

        &:focus {
            border-color: $purple;
            box-shadow: 0 5px 15px -7px rgba($black, 0.1);
        }
    }

    input[type="submit"] {
        border-radius: 3px;
        background: $light-grey;
        color: $black;
        padding: 0.4em 1em;
        border: 1px solid $light-grey;
        display: inline-block;
        cursor: pointer;
        transition: box-shadow 0.2s ease-in-out;
        font-family: inherit;
        font-size: 1.0625rem;
        line-height: 1.6;

        &:hover,
        &:focus {
            box-shadow: 0 15px 25px -7px rgba($black, 0.1);
        }
    }
}

.submit_wrap {
    position: relative;
    margin-left: 0.625em;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
